*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}




body{
    overflow-x: hidden;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
   
}
header{
    position: relative;
    width: 100vw;
    height: 90px;
    background-color: #131313;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
    width: 220px;
    height: 90px;
    background-image: url(./img/Texto\ do\ seu\ parágrafo.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #fff; */
    top: -30px;
}
.subheadar{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color:#242424;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alertademsg{
    position: absolute;
    width: 500px;
    height: 120px;
    background-color: brown;
    top: 0px;
    border-bottom-right-radius:40px;
    left: -9999px;
    z-index: 33;
    display: flex;
    justify-content: center;
    align-items: center;
}


.alertademsgon{
    position: absolute;
    width: 500px;
    height: 120px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius:40px;
    left: 0px;
    z-index: 33;
    background: radial-gradient(circle, red,#000000 120%) ;
    animation: alerton 1s;
}
@keyframes alerton{
    from{
        left: -9999px;
    }
    to{
        left: 0px;
    }
}
.alertademsgoff{
    position: absolute;
    width: 500px;
    height: 120px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius:40px;
    left: -9999px;
    z-index: 33;
    background: radial-gradient(circle, red,#000000 120%) ;
    animation: alertoff 1s;
}
@keyframes alertoff{
    from{
        left: 0px;
    }
    to{
        left: -9999px;
    }
}

.alertatxt{
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
}


.btalertvoltar{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    right: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 9px;
}
.irgrupo{
    position: absolute;
    width: 90px;
    height: 40px;
    /* border: 2px solid wheat; */
    left: 360px;
    top: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ops1{
    position: relative;
    width: 150px;
    height: 45px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 0px 10px gray;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00020e;
    margin-left: 50px;
}
.ops1:hover{
    box-shadow: 0px 0px 30px #fff;
    transform: scale(1.1);
}


.teladosbuttom{
    position: absolute;
    width: 80%;
    height: 200px;
    /* background-color: rgb(7, 7, 7); */
    transform: translate(-50%,-50%);
    left: 50%;
    top: 1000px;
    /* z-index: 30; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}


.btfuncfundo{
    position: relative;
    width: 140px;
    height: 140px;
    background: linear-gradient(to top left, red,rgb(0, 0, 0),red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition:  transform 3s ease;
}
.btfuncfundo:hover{
    background: linear-gradient(to top left, rgb(0, 255, 13),rgb(0, 0, 0),rgb(0, 255, 13));
}


.btfunc{
    width: 133px;
    height: 133px;
    background-color: #ffffff;
    border-radius: 27px;
    text-align: center;
    font-size: 20px;
    color: #00020e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    position: relative;
    width: 99vw;
    height: 2100px;
    
   
    /* background-color: rebeccapurple; */
    /* border: 2px solid red; */
    top: 50px;

    overflow: hidden;
}


.tctvideo{
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 400px;
}


.tctvideocll{
    /* display: none; */
    position: absolute;
    left: -9999px;
}

.textodecor{
    position: absolute;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top left, rgb(84, 0, 0),#000000);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    top: 290px;
}




/* aqui */
.campdobt{
    position: relative;
    width: 60%;
    height: 90px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 590px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 4s ease;
    color: #fff;
    overflow: hidden;
    border-radius: 20px;
}



.novocampo{
    position: relative;
    width: 60%;
    height: 200px;
    top: 590px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 12px;
    transition: height 4s ease;
    color: #00020e;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 13px;
    font-size: 20px;
}

.icone{
    position: absolute;
    width: 70px;
    height: 70px;
    /* background-color: rgb(115, 0, 173); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/padlock.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.btabri{
    position: relative;
    width: 30%;
    height: 40px;
    /* border: 2px solid green; */
    background-color: gray;
   
    border-radius: 30px;
    top: 590px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00020e;
}

.campdobt2{
    position: relative;
    width: 60%;
    height: 90px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 690px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 4s ease;
    color: #fff;
    overflow: hidden;
    border-radius: 20px;
}


.novocampo2{
    position: relative;
    width: 60%;
    height: 200px;
    top: 690px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: height 4s ease;
    color: #00020e;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 13px;
    font-size: 20px;
}

.icone2{
    position: absolute;
    width: 70px;
    height: 70px;
    /* background-color: rgb(115, 0, 173); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/padlock.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.btabri2{
    position: relative;
    width: 30%;
    height: 40px;
    /* border: 2px solid green; */
    background-color: gray;
    
    border-radius: 30px;
    top: 690px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00020e;
}
.campdobt3{
    position: relative;
    width: 60%;
    height: 90px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 790px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 4s ease;
    color: #fff;
    overflow: hidden;
    border-radius: 20px;
}


.novocampo3{
    position: relative;
    width: 60%;
    height: 200px;
    top: 790px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: height 4s ease;
    color: #00020e;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 13px;
    font-size: 20px;
}

.icone3{
    position: absolute;
    width: 70px;
    height: 70px;
    /* background-color: rgb(115, 0, 173); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/padlock.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.btabri3{
    position: relative;
    width: 30%;
    height: 40px;
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: gray;
  
    border-radius: 30px;
    top: 790px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00020e;
}
.campdobt4{
    position: relative;
    width: 60%;
    height: 90px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 890px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 4s ease;
    color: #fff;
    overflow: hidden;
    border-radius: 20px;
}


.novocampo4{
    position: relative;
    width: 60%;
    height: 200px;
    top: 890px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: height 4s ease;
    color: #00020e;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 13px;
    font-size: 20px;
}

.icone4{
    position: absolute;
    width: 70px;
    height: 70px;
    /* background-color: rgb(115, 0, 173); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/padlock.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.btabri4{
    position: relative;
    width: 30%;
    height: 40px;
    /* border: 2px solid green; */
    background-color: gray;
   
    border-radius: 30px;
    top: 890px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00020e;
}
.campdobt5{
    position: relative;
    width: 60%;
    height: 90px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 990px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 4s ease;
    color: #fff;
    overflow: hidden;
    border-radius: 20px;
}



.novocampo5{
    position: relative;
    width: 60%;
    height: 200px;
    top:  990px;
    border: 2px solid gray;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: height 4s ease;
    color: #00020e;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 13px;
    font-size: 20px;
}
.icone5{
    position: absolute;
    width: 70px;
    height: 70px;
    /* background-color: rgb(115, 0, 173); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/padlock.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.btabri5{
    position: relative;
    width: 30%;
    height: 40px;
    /* border: 2px solid green; */
    background-color: gray;
    border-radius: 30px;
    top: 990px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00020e;
}

.btabri:hover{
    background-color: green;
    color: #fff;
}

.btabri2:hover{
    background-color: green;
    color: #fff;
}

.btabri3:hover{
    background-color: green;
    color: #fff;
}

.btabri4:hover{
    background-color: green;
    color: #fff;
}

.btabri5:hover{
    background-color: green;
    color: #fff;
}

button{
    outline: none;
    border: none;
    background-color: gray;
}

 .talaopscll{
         display: none;
}

 .subheadarcell{
   display: none;
}

.telalaetraldocll{
   display: none;
}
.telalaetraldocllon{

}
 .opscell{
 display: none;   
}

 .opcaodocell{

}

.nomesdosmotvas{
display: none;
}

footer{
    position: relative;
    width: 100vw;
    height: 90px;
    background-color: #00020e;
    color: #fff;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120px;
}

.excuresestela{

}
@media (min-width:320px) and (max-width:540px){
    .excuresestela{
        position: absolute;
        width: 100vw;
        height: 2730px;
        background-color: #000000cb;
        z-index: 8;
        left: -9999px;
        top: 0px;
    }
    .excuresestelaon{
        position: absolute;
        width: 100vw;
        height: 2730px;
        background-color: #000000cb;
        z-index: 8;
        left: 0px;
        top: 0px;
    }
    .excuresestelaoff{
        position: absolute;
        width: 100vw;
        height: 2730px;
        background-color: #000000cb;
        z-index: 8;
        left: -9999px;
        top: 0px;
    }
    .talaopscll{
        position: fixed;
        width: 100vw;
        height: 80px;
        background-color: #131313;
        bottom: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius:60px;
        border-top-left-radius:60px;
        z-index: 1;
    }

   .opcell{
        position: relative;
        width: 50px;
        height: 50px;
        background: linear-gradient(to top left, rgb(65, 0, 0),#000000);
        display: flex;
        justify-content: center;
        border: 1px solid rgb(128, 128, 128);
        align-items: center;
        color: #ffffff;
        border-radius: 100px;
        margin: 20px;
        
    }

    .opcell:active{
        transform: scale(1.1);
        box-shadow: 0px 0px 80px #fff;
    }

    .imgg1{
        background-image: url(clapperboard.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .imgg2{
        background-image: url(pill.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
   
  .subheadar{
        position: absolute;
        width: 100%;
        height: 30px;
        background: radial-gradient(circle,red,black 70%);
        top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }

    .nomesdosmotvas{
        position: absolute;
        width: 160%;
        height: 20px;
        top: 5px;
        
        /* background-color: #fff; */
        font-size: 13px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: andar 5s infinite alternate-reverse;
    }


    @keyframes andar {
        to{
            transform: translateX(130px);
        }
    }
    

    .ops1{
        position: relative;
        width: 150px;
        height: 45px;
        background-color: #fff;
        border-radius: 100px;
        box-shadow: 0px 0px 10px gray;
        margin: 40px;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #00020e;
        margin-left: 50px;
    }
    
    .subheadarcell{
        position: absolute;
        width: 60px;
        height: 60px;
        /* background-color: cyan; */
        color: #fff;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 8;
        transition: animation 3s ease;
      
    
    }
    
.subheadarcell:hover{
    animation:  rtt 1s alternate-reverse;
}
    @keyframes rtt {
        to{
            transform: rotate(160deg);
        }

        from{
            transform: rotate(360deg);
        }
    }
    
    .telalaetraldocll{
        position: absolute;
        width: 80vw;
        height: 570px;
        background-color: green;
        left: -9999px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
        
    }

    .voltarcll{
        position: absolute;
        width: 50px;
        height: 50px;
        /* background-color: red; */
        left: 109%;
        top: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%,-50%);
        color: #fff;
    }

/* animação */
 


.telalaetraldocllon{
    position: absolute;
    width: 60%;
    height: 590px;
    background-color: rgb(98, 98, 98);
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: on 0.1s;
    z-index: 10;
}
@keyframes on {
    from{
        left: -9999px;
    }
    to{
        left: 0px;
    }
    
}

.telalaetraldoclloff {
    position: absolute;
    width: 80vw;
    height: 590px;
    background-color: rgb(98, 98, 98);
    top: 0px;
    left: -9999px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: off 0.1s;
    z-index: 10;
}
@keyframes off {
    from{
        left: 0px;
    }
    to{
        left: -999px;
    }
    
}


/*  fim da animação */

   .opcaodocell{
        position: absolute;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* background-color: red; */
        top: 40px;
    }

     .opscell{
        position: relative;
        width: 80%;
        height: 45px;
        border: 3px solid black;
        background-color: #434343;
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border-radius: 14px;
    }
    .opscell:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 20px #fff;
        border: 3px solid #fff;
    }


    main{
        position: relative;
        width: 100vw;
        height: 1580px;
       
        /* background-color: rgb(0, 255, 60); */
        /* border: 2px solid red; */
        top: 10px;
        /* overflow: hidden; */
    }


 .tctvideocll{
    position: relative;
    left: 50%;
    top: 250px;
    transform: translate(-50%,-50%);
 }
    
 .tctvideo{
    position: absolute;
    left: -9999px;
    top: 200px;
    transform: translate(-50%,-50%);
 }
    

    footer{
        position: relative;
        width: 100vw;
        height: 90px;
        background-color: #131313;
        color: #fff;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 69px;
    }

    .teladosbuttom{
        position: absolute;
        width: 320px;
        height: 180px;
        /* background-color: rgb(7, 7, 7); */
        transform: translate(-50%,-50%);
        left: 50%;
        top: 700px;
        /* z-index: 30; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    
    .btfuncfundo{
        position: relative;
        width: 70px;
        height: 70px;
        background: linear-gradient(to top left, red,rgb(0, 0, 0),red);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        
       
    }
    
    .btfuncfundo:hover{
        background: linear-gradient(to top left, rgb(0, 255, 13),rgb(0, 0, 0),rgb(0, 255, 13));
    }
   
    .btfunc{
        width: 63px;
        height: 63px;
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        font-size: 12px;
        padding: 12px;
        color: #00020e;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   
.textodecor{
    position: absolute;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top left, rgb(84, 0, 0),#000000);
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 230px;
}
    button{
        outline: none;
        border: none;
        
    }
    .campdobt{
        position: relative;
        width: 90%;
        height: 90px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 460px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height 4s ease;
        color: #fff;
        overflow: hidden;
        border-radius: 20px;
    }
    
    
    .novocampo{
        position: relative;
        width: 90%;
        height: 200px;
        top: 460px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 12px;
        transition: height 4s ease;
        color: #00020e;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 20px;
        font-size: 14px;
    }
    
    .btabri{
        position: relative;
        width: 30%;
        height: 40px;
        border: 2px solid green;
        background-color: gray;
        background-color: #fff;
        border-radius: 30px;
        top: 440px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #00020e;
    }
    
    .campdobt2{
        position: relative;
        width: 90%;
        height: 90px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 540px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height 4s ease;
        color: #fff;
        overflow: hidden;
        border-radius: 20px;
    }
    
    
    .novocampo2{
        position: relative;
        width: 90%;
        height: 200px;
        top: 540px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: height 4s ease;
        color: #00020e;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 20px;
        padding: 13px;
        font-size: 14px;
    }
    
    .btabri2{
        position: relative;
        width: 30%;
        height: 40px;
        border: 2px solid green;
        background-color: gray;
        background-color: #fff;
        border-radius: 30px;
        top: 540px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #00020e;
    }
    .campdobt3{
        position: relative;
        width: 90%;
        height: 90px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 640px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height 4s ease;
        color: #fff;
        overflow: hidden;
        border-radius: 20px;
    }
    
    
    .novocampo3{
        position: relative;
        width: 90%;
        height: 200px;
        top: 640px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: height 4s ease;
        color: #00020e;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 20px;
        padding: 13px;
        font-size: 14px;
    }
    
    .btabri3{
        position: relative;
        width: 30%;
        height: 40px;
        border: 2px solid green;
        background-color: gray;
        background-color: #fff;
        border-radius: 30px;
        top: 640px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #00020e;
    }
    .campdobt4{
        position: relative;
        width: 90%;
        height: 90px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 740px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height 4s ease;
        color: #fff;
        overflow: hidden;
        border-radius: 20px;
    }
    
    
    .novocampo4{
        position: relative;
        width: 90%;
        height: 200px;
        top: 740px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: height 4s ease;
        color: #00020e;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 20px;
        padding: 13px;
        font-size: 14px;
    }
    
    .btabri4{
        position: relative;
        width: 30%;
        height: 40px;
        border: 2px solid green;
        background-color: gray;
        background-color: #fff;
        border-radius: 30px;
        top: 740px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #00020e;
    }

    .campdobt5{
        position: relative;
        width: 90%;
        height: 90px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 840px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: height 4s ease;
        color: #fff;
        overflow: hidden;
        border-radius: 20px;
    }
    
    
    
    .novocampo5{
        position: relative;
        width: 90%;
        height: 200px;
        top: 840px;
        border: 2px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: height 4s ease;
        color: #00020e;
        font-family:Arial, Helvetica, sans-serif;
        border-radius: 20px;
        padding: 13px;
        font-size: 14px;
        
    }
  
    
    .btabri5{
        position: relative;
        width: 30%;
        height: 40px;
        border: 2px solid green;
        background-color: gray;
        background-color: #fff;
        border-radius: 30px;
        top: 840px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #00020e;
    }
    
    .btabri:hover{
        background-color: green;
        color: #fff;
    }
    
    .btabri2:hover{
        background-color: green;
        color: #fff;
    }
    
    .btabri3:hover{
        background-color: green;
        color: #fff;
    }
    
    .btabri4:hover{
        background-color: green;
        color: #fff;
    }
    


    .alertademsg{
        position: absolute;
        width: 80%;
        height: 120px;
        background-color: brown;
        top: 0px;
        border-bottom-right-radius:40px;
        left: -9999px;
        z-index: 33;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .alertademsgon{
        position: absolute;
        width: 70%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius:20px;
        left: 0px;
        z-index: 33;
        background: radial-gradient(circle, red,#000000 120%) ;
        animation: alerton 1s;
    }
    @keyframes alerton{
        from{
            left: -9999px;
        }
        to{
            left: 0px;
        }
    }
    .alertademsgoff{
        position: absolute;
        width: 70%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius:20px;
        left: -9999px;
        z-index: 33;
        background: radial-gradient(circle, red,#000000 120%) ;
        animation: alertoff 1s;
    }
    @keyframes alertoff{
        from{
            left: 0px;
        }
        to{
            left: -9999px;
        }
    }
    
    .alertatxt{
        width: 80%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        margin-right: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
        background-color: transparent;
    }
    
    
    .btalertvoltar{
        position: absolute;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        right: 10px;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: 9px;
    }
    .irgrupo{
        position: absolute;
        width: 40px;
        height: 40px;
        /* border: 2px solid wheat; */
        left: 180px;
        top: 40px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
}